<nav class="navbar navbar-default">
  <div class="btn-settings" ng-click="settingAll()"><img src="img/Gear_off.png"></div>
  <img class="navbar-back" ng-click="back()" src="img/back.png">
  <div class="navbar-title">{{title}}</div>
</nav>

<content>
  <div id="remote-container">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="command in list.commands" ng-click="sendCommand($index)">
          {{command.name}}
      </li>
    </ul>
  </div>
</content>

<footer>
  <table>
    <tr>
      <td class="button" ng-click="addCommand()">追加</td>
    </tr>
  </table>
</footer>