<nav class="navbar navbar-default">
  <div class="navbar-title">{{ title }}</div>
  <div class="btn-settings" ng-click="settingAll()"><img src="img/Gear_off.png"></div>
  <img class="navbar-back" ng-click="back()" src="img/back.png">
</nav>

<content>
  <table class="demo-list">
    <tr>
      <td class="demo" ng-click="transit('light')">
        <img class="logo" src="img/Appli_light.png">
        <span class="demo-name">ライト</span>
      </td>
      <td class="nodemo"></td>
    </tr>
    <tr>
      <td class="nodemo"></td>
      <td class="nodemo"></td>
    </tr>
    <tr>
      <td class="nodemo"></td>
      <td class="nodemo"></td>
    </tr>
    <tr>
      <td class="nodemo"></td>
      <td class="nodemo"></td>
    </tr>
  </table>
</content>