  <nav class="navbar navbar-default">
    <div class="btn-settings" ng-click="settingAll()"><img src="img/Gear_off.png"></div>
    <img class="navbar-back" ng-click="back()" src="img/back.png">
    <div class="navbar-title">{{title}}</div>
  </nav>

  <content>
    <div id="face-container" align="center">
      <div id="face-search" class="btn btn-default" ng-click="searchFace()">{{deviceName}}</div>
      <div id="face-main">
        <canvas id="face-area"></div>
      </div>
      <div id="face-footer">
        <div id="face-button" class="btn btn-default" ng-click="clickFace()">{{button}}</div>
      </div>
    </div>
  </content>
