<nav class="navbar navbar-default">
  <img type="button" ng-click="settingAll()" class="btn-settings" src="img/Gear_off.png">
  <img class="navbar-back" ng-click="back()" src="img/back.png">
  <div class="navbar-title">{{ title }}</div>
</nav>

<content>
  <table class="demo-list">
    <tr>
      <td class="demo" ng-click="transit('light')">
        <img class="logo" src="img/Appli_light.png">
        <span class="demo-name">ライト</span>
      </td>
      <td class="nodemo"></td>
    </tr>
    <tr>
      <td class="nodemo"></td>
      <td class="nodemo"></td>
    </tr>
    <tr>
      <td class="nodemo"></td>
      <td class="nodemo"></td>
    </tr>
    <tr>
      <td class="nodemo"></td>
      <td class="nodemo"></td>
    </tr>
  </table>
</content>