  <nav class="navbar navbar-default">
    <div class="btn-settings" ng-click="settingAll()"><img src="img/Gear_off.png"></div>
    <img class="navbar-back" ng-click="back()" src="img/back.png">
    <div class="navbar-title navbar-title-small">{{title}}</div>
  </nav>
  
  <content>
    <div id="btn-group" align="center">
      <div id="unregister" class="btn btn-default" ng-click="unregisterAll()">全解除</div>
      <div id="register" class="btn btn-default" ng-click="registerAll()">全選択</div>
    </div>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="light in list.lights">
        <div class="light-checkbox">
          <input class="checkbox" type="checkbox" name="light-checkbox"><label>{{light.name}}</label>
        </div>
      </li>
    </ul>
  </content>

  <div class="footer">
    <div class="btn-group btn-group-justified" role="group" aria-label="footer">
      <div class="btn-group" role="group">
        <button id="light-cancel" type="button" class="btn btn-default" ng-click="cancel()">キャンセル</button>
      </div>
      <div class="btn-group" role="group">
        <button id="light-cancel" type="button" class="btn btn-default" ng-click="ok()">決定</button>
      </div>
    </div>
  </div>

  <script type="text/ng-template" id="error-dialog-light.html">
    <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
      {{message}}
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
  </script>
  