<link rel="stylesheet" href="./lib/bootstrap-slider/css/bootstrap-slider.css" />
<link rel="stylesheet" href="./app/css/content-light.css" />
<script src="./lib/bootstrap-slider/js/bootstrap-slider.js"></script>
<div ng-controller="LightController">
  <div align="center">
    <div id="device" class="btn btn-default" ng-click="discoverLight()">{{deviceName}}</div>
    <div id="power-group">
      <div class="btn-group" role="group" aria-label="power">
        <button id="turn-off" type="button" class="btn btn-default" ng-click="turnOff()">{{lightOff}}</button>
        <button id="turn-on" type="button" class="btn btn-default" ng-click="turnOn()">{{lightOn}}</button>
      </div>
    </div>
    <div>
      <canvas id="color-picker" width="320" height="320"></canvas>
    </div>
    <div id="color-cursor"></div>
    <table style="margin-top:16px">
      <tr>
        <td>
          <img src="./img/light_off.png" width="48" style="margin:12px;margin-top:8px;">
        </td>
        <td>
          <input id="brightness-slider" type="text" data-slider-id="brightness-slider" />
        </td>
        <td>
          <img src="./img/light_on.png" width="48" style="margin:14px;margin-top:2px;">
        </td>
      </tr>
    </table>
  </div>
</div>
